
.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color:rgba(255, 255, 255, 0.8);
 
    padding: 20px 25px 30px;
    margin: 8% auto 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 100%;
    height: 100%;
    margin: 0 auto 10px;

}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-login #inputEmail,
.form-login #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-login input[type=email],
.form-login input[type=password],
.form-login input[type=text],
.form-login button {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-login .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
.form-control{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
   
}

.btn.btn-login {
    background-color:#007fba;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.error{
    color: red;
  }
.btn.btn-account {
    background-color:#598604;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-login:hover,
.btn.btn-login:active,
.btn.btn-login:focus {
    background-color:#014c6e;
}
.forgot-password {
    color:#007fba;
    margin-bottom: 20px;
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color:#014c6e;
}

.bg-img {
    position: fixed;
    width: 100%;
    height:100%;
    background-size:cover;
    top:0;
    left:0;
}
.title{
    position:absolute;
    text-align:center; font-size: 35px;
    font-family: -apple-system, Roboto,BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-transform:uppercase;
    color:rgb(13, 44, 58);
   width: 100%; 
    margin-top: 50px;
    margin-bottom: 50px;
}
