<div class="container">
<img src="assets/background_image.jpg" alt="" class="bg-img">



<div class="row justify-content-center">
  
        <h2 class="title">SnowBall Events Management System</h2>
      </div>
      <h1>SnowBall Events Management</h1>
  <div class="card card-container">
      
      <img  class="logo" src="assets/dvtlogodark.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-login">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email"  id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Keep me logged in
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Log In</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
    
  </div><!-- /card-container -->
 
</div>

  <!-- /container -->



