<div class="container">
<img src="assets/celebration.jpg" alt="" class="bg-img">

<div class="row justify-content-center">
    
      </div>
      <div class="sect"><h1>SnowBall Events Management</h1></div>
  <div class="card card-container">
      <img  class="logo" src="assets/dvtlogodark.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-login" name="userform" method="post"  (ngSubmit)="login()" >
          <span id="reauth-email" class="reauth-email"></span>
          <div [formGroup]="myFormGroup">
          <input type="email" class="form-control" formControlName="email" name="email"  placeholder="Email address"  required autofocus >
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label><input type="password" class="form-control" formControlName="password" name="password"placeholder="Password"  required autofocus >
         
        </div>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me" > Keep me logged in
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Log In</button>
      </form><!-- /form -->
      
      
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
      <button class="btn btn-lg btn-primary btn-block btn-account" type="submit">Create An Account</button>
  </div><!-- /card-container -->
</div>
  <!-- /container -->



