
<h5 class="text-center">List Of Users </h5><br/>
<table class="table table-sm table-hover">
<tr *ngFor="let user of userList">
    <mat-card>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td align="right">
      <mat-card-actions class="right">
         <button  mat-raised-button (click)="onEdit(user)" >Edit</button>   
         <button  mat-raised-button color="warn" (click)="onDelete(user.$key)" >Delete</button>  
         <button  mat-raised-button (click)="resetPassword(user.email)" >Reset Password</button>          
      </mat-card-actions></td> 
    </mat-card>
  </tr>

</table>